upstream thins {
        server unix:/tmp/thin.0.sock;
        server unix:/tmp/thin.1.sock;
        server unix:/tmp/thin.2.sock;
}


server {
            listen   80;
            listen 443 default ssl;
            server_name .<%= VHOST[:site_name] %>.com;
            root   /var/www/<%= VHOST[:site_name] %>/current/public;
            try_files $uri @proxy;

            #rewrite ^ $scheme://<%= VHOST[:site_name] %> permanent;

            access_log /var/www/<%= VHOST[:site_name] %>/shared/log/access.log;
            error_log /var/www/<%= VHOST[:site_name] %>/shared/log/error.log;

            location @proxy {
		    proxy_set_header  X-Real-IP  $remote_addr;
		    proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
		    proxy_set_header  X-Forwarded-Proto $scheme;
		    proxy_set_header  Host $http_host;
		    proxy_redirect    off;

                    proxy_pass        http://thins;
                    limit_req         zone=one    burst=10;
            }
            location ~ ^/(assets|images|javascripts|stylesheets|swfs|system)/ {
                    gzip_static       on;
                    expires           max;
                    add_header        Cache-Control public;
                    add_header        Last-Modified "";
                    add_header        ETag "";

                    open_file_cache          max=1000 inactive=500s;
                    open_file_cache_valid    600s;
                    open_file_cache_errors   on;
                    break;
            }

            include   nginx_errors.conf;
}

