ENVIRONMENT = :production

CONFIG = {
  :production => {
    :apps => [
      {
        :ip => '96.126.110.14',
        :ram => 500,
      },
    ],
    :db => {
      :ip => '96.126.110.14',
      :ram => 500
    }
  }
}

VHOST = { :site_name => 'example.com',
          :deploy_user => 'examplecom'
        }
USER_TO_ADD = 'examplecom'

RUBY_INSTALL = { :path => '/usr/local/ruby', :version => '1.9.3-p194' }
